.ov_h {
	height: 100%;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
 }
 
.elem_1_85395 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 11%;
	width: 66%;
 }
 
.elem_2_85395 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -84%;
	top: 33%;
	width: 100px;
 }
 
.category .ov_h .elem_2_85395 {
	right: -89%;
 } 
 
.elem_3_85395 {
	background: red;
	height: 42px;
 }
 

.elem_1_122675 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 11%;
	width: 66%;
	overflow: hidden;
 }
 
.elem_2_122675 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -88%;
	top: 33%;
	width: 100px;
 }
  
.elem_3_122675 {
	background: red;
	height: 42px;
 }
 
.category_122675 {
	position: relative;
}

.category .elem_2_122675 {
	right: -80%;
	top: 22%;
}

.category .elem_1_122675 {
	left: -14%;
	top: 7%;
} 
  
.elem_1_771 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 8%;
	width: 66%;
	overflow: hidden;
 }
 
.elem_2_771 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -75%;
	top: 30%;
	width: 100px;
 }
  
.elem_3_771 {
	background: red;
	height: 42px;
 }
 
.elem_1_115849 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 11%;
	width: 66%;
	overflow: hidden;
 }
 
.category .elem_1_115849 {
	top: 6%;
}
 
.elem_2_115849 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -83%;
	top: 33%;
	width: 100px;
 }
  
.elem_3_115849 {
	background: red;
	height: 42px;
 }
 
.elem_1_113093 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 11%;
	width: 66%;
	overflow: hidden;
 }
 
.elem_2_113093 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -83%;
	top: 33%;
	width: 100px;
 }
  
.elem_3_113093 {
	background: red;
	height: 42px;
 } 
 
.slide_content {
z-index: 2;
}

.elem_1_85405 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 11%;
	width: 66%;
	overflow: hidden;
 }
 
.elem_2_85405 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -90%;
	top: 33%;
	width: 100px;
 }
  
.elem_3_85405 {
	background: red;
	height: 42px;
 } 

.elem_1_82222 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 7%;
	width: 66%;
 }
 
.elem_2_82222 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -70%;
	top: 33%;
	width: 100px;
 }

.category_82222 .elem_2_82222 {
	right: -62%;
}
 
.elem_3_82222 {
	background: red;
	height: 42px;
 }
 
.elem_1_77561 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 7%;
	width: 66%;
 }
 
.elem_2_77561 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -70%;
	top: 26%;
	width: 100px;
 }
 
.elem_3_77561 {
	background: red;
	height: 42px;
 }

.category_77561 .elem_2_77561 {
right: -85%;
top: 33%;
 }
 
.elem_1_75588 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 7%;
	width: 66%;
 }
 
.elem_2_75588 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -81%;
	top: 26%;
	width: 100px;
 }
 
.elem_3_75588 {
	background: red;
	height: 42px;
 }

.category_75588 .elem_2_75588 { 
	right: -92%;
	top: 40%;
}
 
.elem_1_73210 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 32px;
	width: 66%;
 }
 
.elem_2_73210 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -11%;
	top: 26%;
	width: 100px;
 }
 
.elem_3_73210 {
	background: red;
	height: 42px;
 }  
 
.elem_1_1839 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 34px;
	width: 66%;
 }
 
.elem_2_1839 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: 0%;
	top: 26%;
	width: 100px;
 }
 
.elem_3_1839 {
	background: red;
	height: 42px;
 }  
 
.elem_1_1806 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 7%;
	width: 66%;
 }
 
.elem_2_1806 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -83%;
	top: 40%;
	width: 100px;
 }
 
.elem_3_1806 {
	background: red;
	height: 42px;
 }   

.elem_1_159 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 31px;
	width: 66%;
 }
 
.elem_2_159 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -16%;
	top: 26%;
	width: 100px;
 }
 
.elem_3_159 {
	background: red;
	height: 42px;
 }
.category_159 .elem_2_159 {
	right:0;
}

.elem_1_6228 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -15%;
	position: relative;
	top: 31px;
	width: 66%;
 }
 
.elem_2_6228 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -16%;
	top: 26%;
	width: 100px;
 }
 
.elem_3_6228 {
	background: red;
	height: 42px;
 }
.category_6228 .elem_2_6228 {
	right:0;
}
 
.elem_1_1 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -16%;
	position: relative;
	top: 18px;
	width: 66%;
 }
 
.elem_2_1 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -15%;
	top: -48px;
	width: 100px;
 }
 
.elem_3_1 {
	background: red;
	height: 42px;
 }
 
.elem_1_231 {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: red;
	height: 42px;
	left: -14%;
	position: relative;
	top: 9%;
	width: 66%;
 }

.elem_2_231 {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: red;
	border-radius: 50px;
	height: 100px;
	line-height: 100px !important;
	position: relative;
	right: -85%;
	top: 33%;
	width: 100px;
 }
 
.elem_3_231 {
	background: red;
	height: 42px;
 }  
  
.text_bk {
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	font-weight: bold;
	line-height: 42px;
	overflow: hidden;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.9;
 }

@media (max-width: 450px){
  .text_bk {
    padding-top:0px;
  }
}

@media (max-width: 600px){
  .text_bk {
    font-size: 12px;
  }
}
