.table th {text-transform: none;}

.sales {width: 7%;}

.qtu {width: 7%;}

.visible {}

.add_badge {width: 10%;}

.sales, .qtu, .visible, .add_badge {
    text-align: center;
    vertical-align: middle !important;
}